.layui-ext-icon-selected-input {
  height: 38px;
  line-height: 38px;
  padding: 0px 10px;
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #eee;
  border-radius: 2px;
  transition: 0.2s;
}
.layui-ext-icon-selected-input > .placeholder {
  color: #757575;
}
.layui-ext-icon-selected-input > .layui-icon {
  margin-left: 5px;
  color: #757575;
}
.layui-ext-icon-selected-input:hover {
  border-color: #d2d2d2;
}
.layui-ext-icon-selected-container {
  padding: 5px;
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0px;
  margin-top: 5px;
  height: 240px;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #eee;
  border-radius: 2px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.layui-ext-icon-selected-container.show {
  display: block;
  animation: layui-ext-icon-selected-icons-animate 0.2s linear;
}
.layui-ext-icon-selected-container::-webkit-scrollbar {
  width: 5px;
  background-color: #f6f6f6;
}
.layui-ext-icon-selected-container::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  background-color: #009688;
}
.layui-ext-icon-selected-item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
  color: #888888;
  transition: 0.2s;
  border-radius: 5px;
}
.layui-ext-icon-selected-item:hover,
.layui-ext-icon-selected-item.selected {
  background-color: #f2f2f2;
  color: #009688;
}
.layui-ext-icon-selected-item:hover .layui-icon,
.layui-ext-icon-selected-item.selected .layui-icon {
  transform: scale(1.2);
}
.layui-ext-icon-selected-item .layui-ext-icon-selected-icon {
  transition: 0.2s;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
}
.layui-ext-icon-selected-item .layui-ext-icon-selected-name {
  padding-top: 15px;
  font-size: 13px;
  height: 1em;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
}
.layui-ext-icon-selected-selected-value {
  float: left;
  display: inline-block;
  overflow: hidden;
}
.layui-ext-icon-selected-selected-value .layui-ext-icon-selected-icon,
.layui-ext-icon-selected-selected-value .layui-ext-icon-selected-name {
  display: inline-block;
  float: left;
}
.layui-ext-icon-selected-selected-value .layui-ext-icon-selected-icon {
  font-size: 24px;
}
.layui-ext-icon-selected-selected-value .layui-ext-icon-selected-name {
  margin-left: 5px;
}
@keyframes layui-ext-icon-selected-icons-animate {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
